*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: #FFFFFF;
}

.header{
    display: flex;
    padding: 20px;
    background-color: #18191d;
}

.img__ico{
 margin-right: 30px;
 border-radius:10%;

}

.filter__pokerdex{
    background-color: #18191d;
    display: flex;
}

.filter{
    display: flex;
    cursor: pointer;
    padding: 10px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    float: left;
    gap: 10px;
    width: 95%;
    margin: 50px;
}

.color-text{
    color: #18191d;
}

.container-pokemon{
    border: 1px solid rgba(37, 20, 20, 0.66);
    
    border-radius: 6px;
    text-align: center;
}

.id-pokemon{
    text-align: right;
    margin: 10px;
    padding: 6px;
    border-radius: 5px;
    width: 50%;
    font-size: 13px;
    background-color: #18191d;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pokemon{
    width: 120px;
    height: 120px;
}


